

.available-devices {
    padding: 5.6vw;
    text-align: center;

    h2 {
        margin-bottom: 24px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        &__item {

            h4 {
                margin: 20px 0 24px;
            }

            img {
                max-width: 100%;
            }
            
            li {
                list-style: none;
            }
        }
    }
}