@use "var";

.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {

        &__item {
            background-color: var.$bg-faq-question;
            margin-bottom: 16px;

            &__question {
                display: block;
                position: relative;
                color: var.$color-text-secondary;
                font-size: 20px;
                font-weight: 700;
                padding: 24px;
                cursor: pointer;

                &::after {
                    content: "+";
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;

                span {
                    a {
                        color: var.$color-text-secondary;
                    }
                }

                ul {
                    padding: 0 40px;
                    
                    li {
                        margin-top: 24px;
                        font-size: 16px;

                        list-style-type: disc;
                    }
                }

            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: "-";
                    font-size: 60px;
                }
                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                }
            }
        }
    }

}